In [6]:
from google.colab import files
upload = files.upload()

Saving Phase3.csv to Phase3.csv

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('Phase3.csv')
#Afficher les data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22544 entries, 0 to 22543
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     22544 non-null  int64
 1   protocol_type                22544 non-null  object
 2   service                      22544 non-null  object
 3   flag                         22544 non-null  object
 4   src_bytes                    22544 non-null  int64
 5   dst_bytes                    22544 non-null  int64
 6   land                         22544 non-null  int64
 7   wrong_fragment               22544 non-null  int64
 8   urgent                       22544 non-null  int64
 9   hot                          22544 non-null  int64
 10  num_failed_logins            22544 non-null  int64
 11  logged_in                    22544 non-null  int64
 12  num_compromised              22544 non-null  int64
 13  root_shell                   22544 non-null  int64
 14  su_attempted                 22544 non-null  int64
 15  num_root                     22544 non-null  int64
 16  num_file_creations           22544 non-null  int64
 17  num_shells                   22544 non-null  int64
 18  num_access_files             22544 non-null  int64
 19  num_outbound_cmds            22544 non-null  int64
 20  is_host_login                22544 non-null  int64
 21  is_guest_login               22544 non-null  int64
 22  count                        22544 non-null  int64
 23  srv_count                    22544 non-null  int64
 24  serror_rate                  22544 non-null  float64
 25  srv_serror_rate              22544 non-null  float64
 26  rerror_rate                  22544 non-null  float64
 27  srv_rerror_rate              22544 non-null  float64
 28  same_srv_rate                22544 non-null  float64
 29  diff_srv_rate                22544 non-null  float64
 30  srv_diff_host_rate           22544 non-null  float64
 31  dst_host_count               22544 non-null  int64
 32  dst_host_srv_count           22544 non-null  int64
 33  dst_host_same_srv_rate       22544 non-null  float64
 34  dst_host_diff_srv_rate       22544 non-null  float64
 35  dst_host_same_src_port_rate  22544 non-null  float64
 36  dst_host_srv_diff_host_rate  22544 non-null  float64
 37  dst_host_serror_rate         22544 non-null  float64
 38  dst_host_srv_serror_rate     22544 non-null  float64
 39  dst_host_rerror_rate         22544 non-null  float64
 40  dst_host_srv_rerror_rate     22544 non-null  float64
dtypes: float64(15), int64(23), object(3)
memory usage: 7.1+ MB

In [8]:
df.describe()
# La colonne 'num_outbound_cmds' contient que des 0

           duration  ...  dst_host_srv_rerror_rate
count  22544.000000  ...              22544.000000
mean     218.859076  ...                  0.226683
std     1407.176612  ...                  0.400875
min        0.000000  ...                  0.000000
25%        0.000000  ...                  0.000000
50%        0.000000  ...                  0.000000
75%        0.000000  ...                  0.170000
max    57715.000000  ...                  1.000000

[8 rows x 38 columns]

In [9]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
22539    False
22540    False
22541    False
22542    False
22543    False
Length: 22544, dtype: bool

In [10]:
df=df.drop('num_outbound_cmds',axis='columns')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22544 entries, 0 to 22543
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     22544 non-null  int64
 1   protocol_type                22544 non-null  object
 2   service                      22544 non-null  object
 3   flag                         22544 non-null  object
 4   src_bytes                    22544 non-null  int64
 5   dst_bytes                    22544 non-null  int64
 6   land                         22544 non-null  int64
 7   wrong_fragment               22544 non-null  int64
 8   urgent                       22544 non-null  int64
 9   hot                          22544 non-null  int64
 10  num_failed_logins            22544 non-null  int64
 11  logged_in                    22544 non-null  int64
 12  num_compromised              22544 non-null  int64
 13  root_shell                   22544 non-null  int64
 14  su_attempted                 22544 non-null  int64
 15  num_root                     22544 non-null  int64
 16  num_file_creations           22544 non-null  int64
 17  num_shells                   22544 non-null  int64
 18  num_access_files             22544 non-null  int64
 19  is_host_login                22544 non-null  int64
 20  is_guest_login               22544 non-null  int64
 21  count                        22544 non-null  int64
 22  srv_count                    22544 non-null  int64
 23  serror_rate                  22544 non-null  float64
 24  srv_serror_rate              22544 non-null  float64
 25  rerror_rate                  22544 non-null  float64
 26  srv_rerror_rate              22544 non-null  float64
 27  same_srv_rate                22544 non-null  float64
 28  diff_srv_rate                22544 non-null  float64
 29  srv_diff_host_rate           22544 non-null  float64
 30  dst_host_count               22544 non-null  int64
 31  dst_host_srv_count           22544 non-null  int64
 32  dst_host_same_srv_rate       22544 non-null  float64
 33  dst_host_diff_srv_rate       22544 non-null  float64
 34  dst_host_same_src_port_rate  22544 non-null  float64
 35  dst_host_srv_diff_host_rate  22544 non-null  float64
 36  dst_host_serror_rate         22544 non-null  float64
 37  dst_host_srv_serror_rate     22544 non-null  float64
 38  dst_host_rerror_rate         22544 non-null  float64
 39  dst_host_srv_rerror_rate     22544 non-null  float64
dtypes: float64(15), int64(22), object(3)
memory usage: 6.9+ MB

In [11]:
df = pd.get_dummies(df)

In [13]:
from sklearn.preprocessing import scale
df = scale(df)

In [14]:
from sklearn.cluster import KMeans
mod=KMeans(n_clusters=2) # Nombre de clusters = 2 car on veut seulement prédire si anomalie ou normal
x=df
mod.fit(x)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [17]:
label=mod.labels_
from collections import Counter
Counter(label) 
#Compter le nombre d'élements dans le cluster 1 et 2

Counter({0: 7239, 1: 15305})

In [19]:
# Mesurer les performances de l'algorithme en utilisant le coefficient de silhouette
from sklearn import metrics
metrics.silhouette_score(x, label,  metric='euclidean', sample_size=None, random_state=None)

0.2715067829813658

In [ ]:
# Silhouette score = 0.2715, ce qui veut dire que la performance de note modéle est faible

In [ ]:
#Combination des fichiers 2 et 3 

# On a déja essayé de combiner les deux fichiers, de faire le clustering, puis de calculer le silhouette 
# score, et on a trouvé que le score de silhouette(avec les deux fichiers) était inférieur à celui du 
# fichier phase 3 tout seul, donc on déduit que ça n'améliore pas les compétences du modéle.